:root {
  --grid-rows: 1;
  --grid-colms: 1;
  --square-side: 16;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: beige;
}

.container {
  height: 500px;
  width: 500px;
  background-color: white;
  border: solid red 5px;
  border-radius: 10px;
}
#sketch {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-colms), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.buttons {
  margin: 20px;
  display: block;
  justify-content: space-between;
  text-align: center;
}

.btn {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
}

.pickColor {
  display: flex;
  margin-top: 20px;
}

#color {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  color: black;
}

label {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}
